.header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;    
    height: 7em;
    background-color: #000;
}

.imagem img {
    display: flex;
    width: 160px;
   
}

.premium-link {
    list-style: none;
    font-size: large;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #fff;
}
