.header {  
    background-color: black
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-around;  
    height: 7em;
}

.imagem img {
    width: 160px;
   
}

.premium-link {
    list-style: none;
    font-size: large;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 750px) {
    .imagem img {
        width: 120px;
    }
}
